.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000cc;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.4s ease 0s;
}
.popup-active {
    opacity: 1;
    visibility: visible;
}
.popup-active .popup__content {
    transform: translate(0px, 0px);
    opacity: 1;
}
.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup__content {
    background-color: #111;
    color: #fff;
    max-width: 600px;
    padding: 60px 50px;
    position: relative;
    transition: all 0.4s ease 0s;
    opacity: 0;
    transform: translate(0px, 100%);
    border: 1px solid #252525;
    border-radius: 3px;
}
.popup__close:hover {
    opacity: 0.7;
    transition: 0.2s all;
}
.popup__close {
    position: absolute;
    right: 1px;
    top: 4px;
    font-size: 30px;
    text-decoration: none;
    border: none;
    background-color: #111;
}
.popup__close_button {
    color: #fff;
}
.popup__title {
    font-size: 17px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Young Serif', serif;
    letter-spacing: 0.5px;
    margin: 0px 0px 1em 0px;
    padding-bottom: 15px;
}
.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.popup__text {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.delete__button {
    cursor: pointer;
    font-size: 18px;
    padding: 10px 25px;
    background-color: #9e0000;
    color: #fff;
    border-radius: 8px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Young Serif', serif;
    letter-spacing: 0.5px;
    transition: all .2s ease;
}
.delete__button:hover {
    background-color: #750105;
}
.canel__button {
    cursor: pointer;
    font-size: 18px;
    padding: 10px 25px;
    background-color: #9e0000;
    color: #fff;
    border-radius: 8px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Young Serif', serif;
    letter-spacing: 0.5px;
    border: none;
    transition: all .2s ease;
}
.canel__button:hover {
    background-color: #750105;
    color: #fff;
}

/* white thema */
.popup__content_white_theme {
    background-color: #ffffff;
    color: #000000;
    max-width: 600px;
    padding: 60px 50px;
    position: relative;
    transition: all 0.4s ease 0s;
    opacity: 0;
    transform: translate(0px, 100%);
    border: 1px solid #ddd;
    border-radius: 3px;
}
.popup-active .popup__content_white_theme {
    transform: translate(0px, 0px);
    opacity: 1;
}
.delete__button_white_theme {
    cursor: pointer;
    font-size: 18px;
    padding: 10px 25px;
    background-color: #7634d8;
    color: #fff;
    border-radius: 8px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Young Serif', serif;
    letter-spacing: 0.5px;
    transition: all .2s ease;
}
.delete__button_white_theme:hover {
    background-color: #5f29b1;
}
.canel__button_white_theme {
    cursor: pointer;
    font-size: 18px;
    padding: 10px 25px;
    background-color: #7634d8;
    color: #fff;
    border-radius: 8px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Young Serif', serif;
    letter-spacing: 0.5px;
    border: none;
    transition: all .2s ease;
}
.canel__button_white_theme:hover {
    background-color: #5f29b1;
    color: #fff;
}
.popup__close_white_theme {
    position: absolute;
    right: 1px;
    top: 4px;
    font-size: 30px;
    text-decoration: none;
    border: none;
    background-color: #ffffff;
}
.popup__close_button_white_theme {
    color: #000000;
}
.popup__close_button_white_theme:hover {
    opacity: 0.7;
    transition: 0.2s all;
}