@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  box-sizing: border-box;
}

/* GLOBAL STYLES */

body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png);
}

button {
  cursor: pointer;
}
button:hover {
  color: #9e0000;
}

.App {
  display: flex;
  background-color: #111;
  color: #fff;
}
/* white theme */
.white_theme {
  display: flex;
  background-color: #fff;
  color: #111;
}
.white_theme ::-webkit-scrollbar {
  width: 5px; /* Ширина скроллбару */
}
.white_theme ::-webkit-scrollbar-thumb {
  background-color: #ddd; /* Колір ползунка */
  border-radius: 5px; /* Закруглені кути ползунка */
}
::-webkit-scrollbar {
  width: 5px; /* Ширина скроллбару */
}

/* Стилі для "ползунка" скроллбару (де користувач може тягнути) */
::-webkit-scrollbar-thumb {
  background-color: #1b1b1b; /* Колір ползунка */
  border-radius: 5px; /* Закруглені кути ползунка */
}

/* mobile adaptation */
